body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parent-container {
  display: flex;
  height: 100vh; /* Ensure it takes the full height of the viewport */
  width: 100%;
}

.left-container,
.right-container {
  flex: 1;
  background-color: white;
}

.right-container {
  background-color: #d2b184;
}
