/* .image-container {
  position: relative;
  width: 100%;
  height: 100vh; 100% of the viewport height 
  overflow: hidden; /* to ensure the image stays within the container 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maintains aspect ratio while covering the container 
}

 */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parent-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-container {
  flex: 1;
  background-color: white;
}

.right-container {
  flex: 1;
  background-color: #d2b184;
}
