/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

.app {
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 97.3vw;
  z-index: 1000; /* Ensures the header stays on top */
}
