/* body {
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100vh;
} */

/* * {
  margin: 0px;
  padding: 0px;
  text-decoration: none !important;
}
body {
  background: #a17575;
  font-family: "poppins";
} */
